@media screen and (max-width: 1400px) {
  .nav {
    max-width: 1170px; }

  .science .science-wrapper {
    max-width: 700px; }

  .article .article-bg {
    padding: 40px; }

  .articles .articles__wrapper {
    grid-template-rows: 225px 225px 225px 225px 225px 225px; } }
@media screen and (max-width: 1200px) {
  .offer-img {
    width: 440px; }

  .nav {
    max-width: 980px; }

  .gen .gen__card-call h4 {
    font-size: 14px; }

  .connect .connect__card-content {
    padding-top: 40px;
    padding-bottom: 45px; }

  .science::before {
    left: -200px; }

  footer .footer__item {
    padding-right: 4em; }

  .product__desc .product__desc-container {
    padding: 20px; }

  .product-presentation {
    margin-top: 50px; }

  .promo .promo-img {
    width: 90%;
    max-width: 425px; }

  .articles .articles__wrapper {
    gap: 22px; } }
@media screen and (max-width: 992px) {
  .nav {
    max-width: 720px;
    background: transparent;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    border: none; }
    .nav.nav_main {
      background: transparent;
      -webkit-backdrop-filter: unset;
              backdrop-filter: unset;
      border: none; }
      .nav.nav_main .nav__menu-dropdown + .nav__menu-dropdown-content {
        background: transparent;
        border: none;
        -webkit-backdrop-filter: unset;
                backdrop-filter: unset;
        padding-left: 6px; }
      .nav.nav_main .nav__menu {
        background: linear-gradient(90.25deg, rgba(33, 48, 40, 0.82), rgba(40, 60, 49, 0.86)); }
    .nav .nav__menu-dropdown + .nav__menu-dropdown-content {
      position: static;
      padding-top: 20px;
      padding-left: 6px;
      background: transparent;
      border: none;
      -webkit-backdrop-filter: unset;
              backdrop-filter: unset;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .nav .nav__menu-dropdown + .nav__menu-dropdown-content a {
        font-weight: 300; }
    .nav .nav__menu {
      display: none;
      padding-left: 20px;
      top: 10px;
      left: 7px;
      padding-top: 70px;
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      height: auto;
      width: 200px;
      height: 85vh;
      border-radius: 11px;
      background: #e7f2eff2;
      border: 1px solid #a9d0c659; }
      .nav .nav__menu.open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .nav .nav__menu a {
        padding: 0;
        text-align: left; }
      .nav .nav__menu li {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .nav .nav__menu li:not(:last-child) {
          margin-bottom: 30px; }
    .nav .navbar-toggler {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 18px;
      position: relative;
      z-index: 1; }
    .nav .nav-wrapper {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .nav .brand-logo {
      margin: 0; }
    .nav .nav-btn-wrapper {
      width: 60px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .nav .nav-search {
      margin-right: 0; }

  .offer-img {
    width: 340px; }

  .header-main .offer {
    margin-top: 90px; }
    .header-main .offer h1 {
      font-size: 52px;
      max-width: none; }
    .header-main .offer p {
      max-width: 380px; }

  .header-learn .nav.nav_main .nav__menu {
    background: linear-gradient(90.25deg, rgba(51, 50, 51, 0.55) 0.08%, rgba(106, 107, 106, 0.51) 100%);
    border: 1px solid #a9d0c61f; }

  .science {
    overflow: hidden;
    padding-top: 140px; }
    .science::before {
      left: unset;
      top: -170px;
      left: calc(50% - 212px); }
    .science .science-wrapper {
      max-width: unset;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .science .btn {
      margin-left: auto;
      margin-right: auto; }

  .see-on .see-on__list li:not(:last-child) {
    margin-right: 3em; }

  .connect .connect__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .connect .connect__card img {
      width: 100%;
      max-height: 327px; }
  .connect .connect__card-content {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  footer .footer__item {
    padding-right: 2em; }

  .product .product-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product .product__slider {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; }
  .product .product__desc {
    width: 100%;
    margin-top: 30px; }
  .product .product__desc-container {
    padding: 30px; }

  .article .article-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .article.article_two .article__img {
    width: 50%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto; }
  .article.article_two .article__img:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; }
  .article.article_two .article__img:last-child {
    margin-left: 0px;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: auto;
    margin-right: auto; }
  .article.article_two .article-bg {
    width: 100%; }

  .article-group {
    margin-bottom: 30px; }
    .article-group .container > h3 {
      text-align: center; }

  .promo {
    padding: 50px 0;
    padding-bottom: 58px; }
    .promo .promo-img {
      width: 100%;
      max-width: 465px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 36px; }
    .promo .promo-wrapper {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
      .promo .promo-wrapper .btn {
        margin-left: auto;
        margin-right: auto; }

  .articles .articles__wrapper {
    grid-template-columns: repeat(6, 0.5fr);
    grid-template-rows: repeat(3, 240px);
    gap: 10px;
    grid-template-areas: "box1 box1 box1 box1 box2 box2" "box3 box3 box6 box6 box6 box6" "box4 box4 box4 box5 box5 box5"; }
  .articles .articles__item-content .articles__item-title {
    font-size: 17px; }
  .articles .articles__item p {
    display: none; }
  .articles .articles__item.articles__item_big .articles__item-content {
    padding: 12px 15px 12px 15px;
    border-radius: 20px; }
  .articles .articles__item.articles__item_small .articles__item-title {
    font-size: 14px; }
  .articles .articles__item.articles__item_small .articles__item-content {
    padding: 10px; }
  .articles .box7, .articles .box8, .articles .box9, .articles .box10, .articles .box11, .articles .box12 {
    display: none; }

  .blog-filter .blog-filter__list {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .blog-filter .blog-filter__list li {
      margin: 8px; }

  .articles-latest-btn {
    display: none; }

  .articles-pagination {
    display: block; } }
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; }

  .nav {
    max-width: 540px; }

  .connect {
    margin: 50px 0; }

  .header-main {
    height: auto;
    padding-bottom: 50px; }
    .header-main .offer {
      margin-top: 20px; }
      .header-main .offer p {
        max-width: unset;
        margin-bottom: 35px; }
      .header-main .offer .btn {
        margin: 0 auto; }
    .header-main .offer-img {
      margin: 0 auto;
      position: static;
      margin-bottom: 30px; }

  h1,
  .header-main .offer h1,
  h2 {
    font-size: 36px; }

  h3 {
    font-size: 24px; }

  main {
    margin-top: 30px; }

  .see-on .see-on__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .see-on .see-on__list {
    margin-top: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }

  .gen {
    padding: 50px 0; }
    .gen .gen-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .gen .gen__card {
      width: 100%;
      height: 200px; }
      .gen .gen__card:not(:last-child) {
        margin-bottom: 20px; }

  .science {
    padding-top: 130px;
    padding-bottom: 60px; }
    .science::before {
      width: 340px;
      left: calc(50% - 170px);
      top: -163px; }

  footer {
    margin-top: 50px; }
    footer .footer-wrapper {
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: -webkit-min-content min-content auto;
      grid-template-rows: min-content min-content auto;
      gap: 0px 0px;
      grid-template-areas: "logo shop" "sublogo about" "customer learn"; }
    footer .footer__item {
      padding-left: 3em;
      padding-right: 0; }
    footer .footer__area2,
    footer .footer__area6 {
      padding: 0; }
    footer .footer__area5 {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    footer .footer__area6 {
      margin-top: -10px; }
      footer .footer__area6 h5 {
        display: none; }
    footer .footer__line {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 40px; }
      footer .footer__line a:not(:last-child) {
        margin-bottom: 17px; }
      footer .footer__line a:not(:last-of-type) {
        margin-right: 0; }

  .product .product__slider {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .product-reviews .product-reviews__item .product-reviews__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product-reviews .product-reviews__author {
    width: 100%;
    margin-bottom: 20px; }
  .product-reviews .product-reviews__post {
    width: 100%; }

  .article {
    text-align: center; }
    .article h3 {
      text-align: center;
      font-size: 24px; }
    .article.article_two h3 {
      text-align: center; }
    .article.article_two .article__img {
      width: 100%;
      max-height: 400px; }
    .article blockquote {
      text-align: left;
      font-size: 20px; }
      .article blockquote span {
        font-size: 52px; }
    .article .q-cite span {
      font-size: 18px; }

  .article-group .container > h3 {
    font-size: 32px; }

  .articles .articles__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0; }
  .articles .articles__item:not(:last-child) {
    margin-bottom: 15px; }
  .articles .articles__item.articles__item_big {
    border-radius: 20px;
    width: 100%;
    height: 278px; }
  .articles .articles__item.articles__item_small {
    border-radius: 20px;
    width: 100%;
    height: 234px; }
  .articles .articles__item.box5 {
    display: none; }

  .blog-filter {
    margin-bottom: 22px; }
    .blog-filter h4 {
      text-align: left; }
    .blog-filter .blog-filter__list {
      margin-top: 11px; }
      .blog-filter .blog-filter__list li {
        margin: 4px; }

  .articles-pagination {
    margin-top: 15px; } }
@media screen and (max-width: 576px) {
  .header-main .offer-img {
    width: 100%; }

  .gen .gen__card-call h4 {
    max-width: unset;
    padding: 0 25px; }

  .see-on .see-on__list li img {
    width: 100%;
    height: auto; }
  .see-on .see-on__list li:not(:last-child) {
    margin-right: 15px; }

  .science {
    padding-top: 100px;
    padding-bottom: 40px; }
    .science::before {
      width: 300px;
      left: calc(50% - 150px); }

  .main-special {
    display: none; }

  .connect {
    margin: 40px 0; }

  .gen {
    padding: 40px 0; }

  .connect .connect__card-content {
    padding-top: 30px;
    padding-bottom: 38px; }

  footer {
    margin-top: 40px; }
    footer a {
      font-size: 8px; }
    footer .footer__item {
      padding-left: 2em; }
    footer .footer__area2,
    footer .footer__area6 {
      padding: 0; }
    footer .footer__copy ul li:not(:last-child) {
      margin-right: 8px; }

  .product__slider .product__main-arrows .product__main-arrow_prev {
    left: -35px; }
  .product__slider .product__main-arrows .product__main-arrow_next {
    right: -35px; }

  .product .product__slider {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px; }
    .product .product__slider .product__main-thumbnail {
      width: 50px;
      height: 50px; }
      .product .product__slider .product__main-thumbnail:not(:last-child) {
        margin-right: 0.8em; }

  .product__desc .product__desc-price {
    font-size: 26px; }
  .product__desc .product__desc-qty {
    padding-top: 0; }

  .product-presentation {
    margin-top: 30px; }

  .product__desc-links a {
    font-size: 10px; }

  .product-reviews .product-reviews__container {
    padding: 20px;
    padding-bottom: 10px; }

  .article {
    margin-bottom: 15px; }
    .article.article_two .article__img:first-child, .article.article_two .article__img:last-child {
      margin-bottom: 15px; }

  .science.science_mg {
    margin-top: 30px;
    margin-bottom: 30px; }

  .articles-pagination {
    margin-bottom: 50px; }

  .learn .science h2 {
    font-size: 27px;
    letter-spacing: 0.16em; }

  .header-learn .offer {
    padding-top: 0;
    margin-top: 42%; }
    .header-learn .offer p {
      font-size: 16px;
      max-width: 435px; } }
@media screen and (max-width: 426px) {
  .product .product__slider .product__main-thumbnail {
    width: 40px;
    height: 40px; }
    .product .product__slider .product__main-thumbnail:not(:last-child) {
      margin-right: 0.5em; }

  .product__desc .product__desc-wrapper {
    grid-template-areas: "price links" "qty qty";
    grid-template-columns: 1fr 1fr; }
  .product__desc .product__desc-qty label {
    margin-right: 8px; }
  .product__desc .product__desc-qty form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px; }
    .product__desc .product__desc-qty form button[type='submit'] {
      width: 110px;
      min-width: unset; }

  .product-reviews .product-reviews__title-wrapper .btn {
    display: none; }
  .product-reviews .product-reviews__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: none;
    width: 240px;
    margin: 0 auto;
    margin-top: 28px; }

  .article .article-bg {
    padding: 30px 20px; }
  .article blockquote {
    width: 100%; } }
@media screen and (max-width: 392px) {
  .product__desc .product__desc-qty form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product__desc .product__desc-qty form button[type='submit'] {
      width: 100%;
      margin-top: 10px; }
  .product__desc .product__desc-wrapper {
    grid-template-areas: "price price" "links links" "qty qty"; }
  .product__desc .product__desc-price {
    text-align: center; }
  .product__desc .product__desc-links {
    text-align: center;
    margin-top: 10px; }

  .article.article_two h3 {
    font-size: 20px; }

  .article-group .container > h3 {
    font-size: 27px;
    margin-bottom: 21px; } }

/*# sourceMappingURL=media.css.map */